In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import talib.abstract as ta
import freqtrade.vendor.qtpylib.indicators as qtpylib

In [2]:
df = pd.read_csv("/home/sscf/freqtrade_custom_strats/python_concepts/pivot_points/Binance_BTCUSDT_d.csv")
df = df.drop(["unix", "symbol", "Volume BTC", "tradecount"], axis = 1)
df = df[::-1]
df["date"] = pd.to_datetime(df["date"])
df.set_index("date", inplace = True)
df

                open      high       low     close   Volume USDT
date
2017-08-17   4469.93   4485.39   4200.74   4285.08  2.812379e+06
2017-08-18   4285.08   4371.52   3938.77   4108.37  4.994494e+06
2017-08-19   4108.37   4184.69   3850.00   4139.98  1.508239e+06
2017-08-20   4139.98   4211.08   4032.62   4086.29  1.915636e+06
2017-08-21   4086.29   4119.62   3911.79   4016.00  2.770592e+06
...              ...       ...       ...       ...           ...
2022-10-07  19960.67  20068.82  19320.00  19530.09  4.353681e+09
2022-10-08  19530.09  19627.38  19237.14  19417.96  1.995917e+09
2022-10-09  19416.52  19558.00  19316.04  19439.02  2.215007e+09
2022-10-10  19439.96  19525.00  19020.25  19131.87  4.101745e+09
2022-10-11  19131.87  19133.52  18950.01  19032.94  1.777093e+08

[1883 rows x 5 columns]

In [3]:
df["NATR"] = ta.NATR(df)
df

                open      high       low     close   Volume USDT      NATR
date
2017-08-17   4469.93   4485.39   4200.74   4285.08  2.812379e+06       NaN
2017-08-18   4285.08   4371.52   3938.77   4108.37  4.994494e+06       NaN
2017-08-19   4108.37   4184.69   3850.00   4139.98  1.508239e+06       NaN
2017-08-20   4139.98   4211.08   4032.62   4086.29  1.915636e+06       NaN
2017-08-21   4086.29   4119.62   3911.79   4016.00  2.770592e+06       NaN
...              ...       ...       ...       ...           ...       ...
2022-10-07  19960.67  20068.82  19320.00  19530.09  4.353681e+09  4.417656
2022-10-08  19530.09  19627.38  19237.14  19417.96  1.995917e+09  4.269346
2022-10-09  19416.52  19558.00  19316.04  19439.02  2.215007e+09  4.049006
2022-10-10  19439.96  19525.00  19020.25  19131.87  4.101745e+09  4.008600
2022-10-11  19131.87  19133.52  18950.01  19032.94  1.777093e+08  3.810488

[1883 rows x 6 columns]

In [ ]:
plt.style.use("seaborn")
plt.plot(df.index, df["close"], c = "b")
plt.plot(df.index, df["NATR"])